.description{
    display: flex;
    flex-direction: row;
    width: 50.5vw;
    height: 30vh;
    margin-top: 2vh;
}

.description p{
    height: 100%;
    width: 60%;
    overflow:auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: rgb(110, 110, 110);
    font-family: "Roboto-Bold";
    font-size: 2vh;
}

.description img{
    width: 40%;
    height: auto;
    margin-right: 4vw;
}

#localisation h2{
    color: white;
    font-size: 2.5vh;
    padding: 0.5vh;
    padding-left: 0;
    border-bottom: solid white;
    width: 50vw;
    font-family: "Roboto-Black";
}

#localisation{
    width: 100%;
    height: 40vh;
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#bloc-film{
    width: 100%;
    height: 50vh;
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 12vh;
    display: none;
    flex-direction: column;
    align-items: center;
}

#bloc-film h2{
    color: white;
    font-size: 2.5vh;
    padding: 0.5vh;
    padding-left: 0;
    border-bottom: solid white;
    width: 50vw;
    font-family: "Roboto-Black";
}

#description-film{
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 40vh;
    color: rgb(110, 110, 110);
    font-family: "Roboto-Bold";
    align-items: center;
    font-size: 1vh;
    margin-top: 3vh;
}

#description-film p{
    height: 100%;
    font-size: 2vh;
    overflow:auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

#description-film img{
    height: 100%;
    width: auto;
    margin-right: 2vw;
}

#description-film a{
    color: rgb(255, 255, 255);
    background-color: #ff1044;
    padding: 0.5vh;
    font-size: 1.5vw;
    width: 40%;
    text-align: center;
    text-decoration: none;
    justify-content: flex-end;
    border-radius: 5px;
    font-family: "Roboto-Bold";
}

#infos{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-device-width : 800px){
    .description img{
        height: 20vh;
        width: 50vw;
    }

    .description{
        width: 90%;
        height: 20vh;
        font-size: 1.5vw;
    }

    #localisation{
        width: 100%;
        height: 28vh;
    }

    #localisation h2{
        width: 90%;
    }

    #description-film{
        width: 90%;
        height: 100%;
        font-size: 1vh;
    }

    
    #bloc-film{
        width: 100%;
        height: 30vh;
    }

    #bloc-film h2{
        width: 90%;
    }
}
