.therme{
font: 1rem 'Fira Sans', sans-serif;
margin-bottom: 1vh;
}

#bloc-date{
    padding: 1em;
    padding-left: 0;
}

#date{
    padding: 0.5em;
}

input[type=text], textarea, input[type=password], input[type=email]{
width: 100%;
padding: 1vh;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 1vh;
margin-bottom: 1vh;
margin-right: 0vw;
margin-left: 0vw;
resize: vertical;
}

label{
margin-right: 0vw;
margin-left: 0vw;
width: 100%;
}

input[type=submit], input[type=button] {
background-color: #FF1043;
color: rgb(255, 255, 255);
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover, input[type=button]:hover {
background-color: #ff104491;
}

input[type=button]{
margin-top: 0.5vh;
}

.container {
/* Ajouter box-sizing */
box-sizing : border-box;
border-radius:5px;
background-color:#03080c;
color: white;
padding:1vw;
/* redéfinition 400 + 2*20 */
width: 30vw;
margin: auto;
display: flex;
justify-content: center;
align-items: center;
margin-top: 5vh;
margin-bottom: 10vh;
}

.container1 {
    /* Ajouter box-sizing */
    box-sizing : border-box;
    border-radius:5px;
    background-color:#03080c;
    color: white;
    padding:1vw;
    /* redéfinition 400 + 2*20 */
    width: 20vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    display: none;
}

footer{
    position: absolute;
    bottom: 0;
}

@media screen and (max-device-width : 800px){
    footer{
        position: relative;
    }

    .container {
        width: 80vw;
    }
    .container1 {
        width: 60vw;
        margin-bottom: 50vh;
    }
}


