*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Roboto-Black";
    src: url("../font/Roboto-Black.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../font/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../font/Roboto-Light.ttf");
}

body{
    background-color: #07111B;
}

header{
    background-color: #03080c;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    align-items: center;
}

.logo{
    height: 10vh;
    margin-left: 2vw;
}

main{
    min-height: 80%;
}

footer{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #03080c;
}

#footer-droite{
    width: 40vw;
    margin-right: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


#reseaux img{
    width: 2vw;
}

#reseaux{
    width: 10vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 2vw;
}

.menu{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 2vw;
    font-family: "Roboto-Black";
    padding: 3vw;
}

header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

header ul li a#active{
    color: #FF1043;
}

header a{
    text-decoration: none;
}

.menu:hover{
    color: #FF1043;
}

.fi-rr-user{
    margin-right: 2vw;
    font-size: 1vw;
    color: #ffffff;
    background-color: #FF1043;
    padding: 1vw;
    border-radius: 20px;
}

.search-bar input[type="text"] {
    width: 13vw;
    padding: 0.9vh;
    border-radius: 5px 0 0 5px;
}

.search-bar input[type="text"]:focus {
    padding: 1.2vh;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 0.8vh;
    background-color: #bebebe;
    border-radius: 0 5px 5px 0;
}

.search-bar .icon-search{
    height: 1vh;
}

#footer-droite a{
    text-decoration: none;
    color: white;
    padding: 1vw;
    background-color: #FF1043;
    border-radius: 10px;
    font-size: 1vw;
}

.film-semaine{
    height: 80vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(#ff104493, #0a141efa), url(../images/affiche-ww.jpg);
    background-position: top;
}

.titre{
    text-align: center;
    width: 80vw;
    color: white;
    margin: auto;
    margin-top: 15vh;
}

.titre-principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titre-principal span{
    width: 10vw;
    height: 1vh;
    border-radius: 10px;
    margin: auto;
    margin-right: 1vw;
    margin-left: 1vw;
    background-color: white;
}

.titre p{
    font-family: "Roboto-Bold";
    font-size: 1vw;
    padding: 1vh;
    width: 30vw;
    margin: auto;
}

.titre button{
    color: rgb(255, 255, 255);
    background-color: #ff1044;
    font-size: 1vw;
    margin-top: 1vh;
    padding: 1vh;
    border-radius: 5px;
    font-family: "Roboto-Bold";
    border: none;
}

.titre button:hover{
    background-color: #b12140;
    cursor: pointer;
}

h1{
    font-family: "Roboto-Black";
    font-size: 2vw;
}

#list-film{
    margin: auto;
    transform: translateY(-10em);
    width: 70%;
    height: 30vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

#espace{
    background-color: #03080c;
    height: 15vh;
}

.film{
    height: 100%;
    width: 100%;
}

#list-film>div{
    cursor: pointer;
}

#list-film>div>a{
    text-decoration: none;
}

#list-film>div:hover{
    z-index: 1;
    transition: 0.5s;
    transform: scale(1.2)
}

.film-desc{
    background-color: #03080cbd;
    transform: translateY(-50px);
    height: 50px;
    color: white;
    font-family: "Roboto-Bold";
}

.film-desc div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

@media screen and (max-device-width : 800px){

    .logo{
        height: 8vh;
    }

    .menu{
        font-size: 2.5vw;
    }

    
    .fi-rr-user{
        font-size: 4vw;
        padding: 2vw;
    }

    #reseaux{
        width: 35vw;
    }

    #reseaux img{
        width: 8vw;
    }

    #footer-droite{
        width: 50%;
        margin-right: 3vw;
    }

    #footer-droite a{
        padding: 1vw;
        font-size: 2vw;
    }

    #espace{
        background-color: #03080c;
        height: auto;
    }

    #list-film{
        transform: translateY(0em);
        margin: auto;
        width: 50%;
        height: auto;
        flex-direction: column;
        align-content: space-around;
        padding-top: 5vh;
    }

    .titre p{
        width: 100%;
        font-size: 3vw;
    }

    h1{
        font-family: "Roboto-Black";
        font-size: 5vw;
        width: 100%;
    }

    .titre-principal span{
        width: 60%;
    }

    .titre{
        width: 80%;
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
    }

    .titre button{
    font-size: 2.5vw;
    }
}