.bloc-film{
    width: 60%;
    margin-left: 10vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    flex-direction: column;
}

.bloc-film h2{
    color: white;
    font-size: 1.5em;
    padding: 0.5em;
    padding-left: 0em;
    border-bottom: solid white;
    width: 100%;
    font-family: "Roboto-Black";
}

.description-film{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10em;
    color: rgb(110, 110, 110);
    font-family: "Roboto-Bold";
    align-items: center;
    font-size: 1em;
    margin-top: 1vh;
}
.description-film>div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#information{
    height: 100%;
    width: 50%;
}

.description-film button{
    color: rgb(255, 255, 255);
    background-color: #ff1044;
    padding: 0.5em;
    font-size: 1vw;
    width: 15vw;
    text-align: center;
    text-decoration: none;
    justify-content: flex-end;
    border-radius: 5px;
    font-family: "Roboto-Bold";
}

aside#reservation-bloc{
    height: 40em;
    width: 30em;
    background-color: rgba(255, 255, 255, 0.589);
    margin: auto;
    display: none;
}

#separation-bloc{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    height: auto;
    justify-content: space-around;
}

#bloc-films{
    width: 100%;
    height: 100%;
}

@media screen and (max-device-width : 800px){
    .description-film button{
        padding: 0.8em;
        font-size: 2.5vw;
        width: 20vw;
    }
}